* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskervville', Georgia, 'Times New Roman', Times, serif;
  background-color: #395144;
  color: #F0EBCE
}

main {
  margin: auto;
  text-align: center;
  padding: 10% 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #F0EBCE;
  color: #395144;
  padding: 0.5em;
}

button {
  background-color: #F0EBCE;
  color: #395144;
  padding: 0.5em;
}

button:hover {
  cursor: pointer;
}

.error-message {
  background-color: #AA5656;
  padding: 1em;
  font-size: 0.9rem;
  display: none
}