@import 'mapas.less';
@import 'utils.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #palette[color-0];
  color: #palette[color-1];
  font-family: #fonts[sans];
  margin: 1rem;
}

li {
  list-style: none;
}

p {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 90svh;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

h1,
h2 {
  margin: 0.5em 0;
}

.subtitle {
  margin: 1em 0;
  font-size: 0.5rem;
}

.projects {
  .project {
    margin: 3rem;

    a {
      text-decoration: none;
      background-color: #palette[color-2];
      color: #palette[color-0];
      text-align: center;
      padding: 1em 2em;
      border-radius: 64px;
      border: 2px solid #palette[color-0];

      &:hover {
        transition: all ease 300ms;
        background-color: #palette[color-0];
        color: #palette[color-2];
        border-color: #palette[color-2];
      }
    }
  }
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;

  .social-link {
    margin: 0 1em;
    img {
      transition: all ease 300ms;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
