@use '_reset.scss';
@use '_breakpoints.scss' as *;
@use '_palette.scss' as *;

@mixin cols($n: 1, $gap: 1%) {
  grid-template-columns: repeat($n, 1fr);
  //   eu queria fazer a função com só 1 argumento mas não entendi como fazer ele aceitar a unidade %
  //   column-gap: (4 - $n) + %;
  column-gap: $gap;
}

body {
  background-color: $color-1;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;

  @media screen and (max-width: $breakpoint-tablet) {
    max-width: 80%;
  }
}

header {
  background-color: $color-2;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    nav .menu {
      display: flex;

      li {
        font-weight: bold;
        margin-left: 24px;

        a {
          color: $color-3;
          text-decoration: none;
        }
      }
    }
  }
}

section {
  padding: 56px 0;

  .products {
    margin-top: 40px;
    display: grid;
    row-gap: 4%;
    width: 100%;

    @include cols(3, $gap: 1%);

    @media screen and (max-width: $breakpoint-tablet) {
      @include cols(2, $gap: 2%);
    }

    @media screen and (max-width: $breakpoint-mobile) {
      //   display: block;
      @include cols(1, $gap: 3%);
    }

    .product-item {
      @media screen and (max-width: $breakpoint-mobile) {
        margin-bottom: 32px;
      }

      img {
        width: 100%;
        border-radius: 16px;
      }
    }

    .product-button {
      display: block;
      background-color: $color-4;
      color: $color-3;
      text-align: center;
      padding: 8px 0;
      border-radius: 8px;
      margin-top: 8px;
      text-decoration: none;

      &:hover {
        background-color: lighten($color-4, 5%); // #4cd137
      }
    }
  }
}
